<h1 class="bg-blue-500 py-4">{{title}}</h1>
<p class="text-3xl font-bold underline">Welcome to {{title}}</p>

<ul >

    <li><a href="/celebrities/create">Create Celebrity</a></li> 
   
     <li><a href="/celebrities">See all celebrities</a></li>
    
     <li><a href="/movies/create">Create Movie</a></li>
    
     <li><a href="/movies">See all movies</a></li>

</ul>