{{!-- <h1 class="text-3xl font-bold underline">{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul >

    <li><a href="/celebrities/create">Create Celebrity</a></li> 
   
     <li><a href="/celebrities">See all celebrities</a></li>
    
     <li><a href="/movies/create">Create Movie</a></li>
    
     <li><a href="/movies">See all movies</a></li>

</ul> --}}


<div class="bg-gray-100">
    <header class="bg-blue-500 py-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-white text-2xl font-semibold">{{title}}</h1>
            <nav class="space-x-4">
                <a href="/celebrities/create" class="text-white hover:underline">Create Celebrity</a>
                <a href="/celebrities" class="text-white hover:underline">See all celebrities</a>
                <a href="/movies/create" class="text-white hover:underline">Create Movie</a>
                <a href="/movies" class="text-white hover:underline">See all movies</a>
            </nav>
        </div>
    </header>

    <!-- The rest of your homepage content goes here -->

</div>