{{!-- <h2>Movies</h2>

{{#each myMovies}}
    <h3>{{title}}</h3>
    <a href="/movies/{{_id}}">See details</a>
{{/each}} --}}




<header class="bg-blue-500 py-4">
        <div class="container mx-auto text-center">
            <h1 class="text-white text-3xl font-semibold">Movies</h1>
        </div>
    </header>


<main class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">


    {{#each myMovies}}

        <div class="bg-white p-4 rounded-lg shadow-md">
                
                <h2 class="text-xl font-semibold mt-2">{{title}}</h2>
                <p class="text-gray-600"> <a href="/movies/{{_id}}">See details</a></p>
            </div>



    {{/each}}


</main>